.footer{
      background: #014B4B;
      margin: 0;

      .logo{
            img{
                  width: 120px;
                  height: 120px;
            }
      }

      .fa-instagram{
            color: rgb(255, 0, 144);
      }
}